* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 200vh;
}

.nav,
.info,
.address,
.tel,
h3 {
	display: flex;
	align-items: center;
}

[class^="animate"] {
	animation-duration: 0.7s;
}
