.intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	background-color: #f7f5f2;
}

.intro-bg {
	transform: translateX(-30%);
}

.content-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	position: absolute;
	left: 50%;
	padding: 50px;
	color: #928f88;
}

.content {
	h1 {
		font: 72.8px "Sansita One", "Sansita", sans-serif;
		color: #fd7444;
	}

	h4 {
		font: 700 12px "Oswald", sans-serif;
		text-transform: uppercase;
	}
}

.btn-info {
	position: absolute;
	bottom: 10%;
}

.empty {
	border: 1px solid;
	background: #8abb6a;
}

.empty img {
	border-radius: 50%;
	display: inline-block;
}

.Down {
	color: white;
}

h6 {
	color: rgb(255, 184, 4);
}
