.intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	background-color: $light-gray;
}

.intro-bg {
	transform: translateX(-30%);
	background-position: cover;
}

.content-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	position: absolute;
	left: 50%;
	padding: 50px;
	color: $gray;
}

.content {
	width: min-content;

	h4 {
		margin-top: 13.2px;
		margin-bottom: 27.3px;
	}

	p {
		font: 14px "PT Serif", serif;
		line-height: 24.01px;
	}
}

.badge {
	margin-left: 20px;
}

.btn-info {
	width: max-content;
	margin-top: 80%;
	transform: translateX(-130%);
	font: 700 12px "Oswald", sans-serif;
	letter-spacing: 3px;
	padding: 25.8px 78px 27.6px;
	background: linear-gradient(to right, $yellow 50%, $black 50%) right / 300%;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition: background-position 0.7s, color 0.7s;

	&:hover {
		background-position: left;
		color: $black;
	}
}
