.nav-wrapper {
	display: flex;
	align-items: center;
	position: relative;
	width: 100vw;
	max-height: 100px;
	min-height: 100px;
	padding: 20px 0;
}

.nav {
	justify-content: space-around;
	background-color: #fff;
	width: inherit;
	height: 70px;

	&.sticky {
		position: fixed;
		top: 0;
		z-index: 9;
		padding: 0;
		height: 70px;

		img {
			width: 12%;
		}
	}

	img {
		width: 15%;
		height: auto;
	}
}

.info {
	justify-content: center;
	column-gap: 20px;
	font-size: 14px;
}

.address,
.address h3,
.tel,
.tel h3,
.email,
.email h3 {
	display: flex;
	column-gap: 10px;
}

.address p,
.email p {
	font-family: "PT Serif", serif;
	color: $gray;
}

i:not(:last-child),
.tel p {
	color: $yellow;
}

.menu-btn {
	font-size: 29px;
	background-color: $black;
	color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn:hover {
	background-color: $yellow;
	color: $black;
}

.menu-btn:focus-visible {
	outline: 1px auto blue;
}
