.rooms {
	text-align: center;
	margin-top: 130px;

	&__group {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 100px;
		grid-template-rows: auto;
		justify-items: center;
		margin: 70px 70px 130px;
	}
}

.room {
	background-color: #f7f5f2;

	img {
		width: 100%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 15.2px;
		justify-content: center;
		align-items: center;
		padding: 54.6px 81.2px 61.6px;
		font: 400 14px "Oswald", sans-serif;

		a {
			text-decoration: none;

			&:first-child {
				color: #444349;
				font-size: 20px;
				text-transform: uppercase;
				transition: color 0.3s ease;

				&:hover {
					color: #fd7444;
				}
			}

			&:last-child {
				width: max-content;
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				padding: 18.6px 10.3px 17.4px;
				background-image: linear-gradient(to right, #ffdb74 50%, #444349 50%);
				background-position: right;
				background-size: 300%;
				color: #fff;
				cursor: pointer;
				transition: background-position 0.6s, color 0.6s;

				&:hover {
					background-position: left;
					color: #444349;
				}
			}
		}

		h3 {
			font-family: "PT Serif", serif;
			font-weight: 400;
			line-height: 18.9px;
			max-width: 100px;
			text-align: right;
			color: #928f88;
		}
	}
}

.price-wrapper {
	display: flex;
}

.price {
	color: #fd7444;
	font-weight: 400;
	font-size: 35px;
	margin-left: 10px;
}
